    /*Lista de Generalidades*/
    .list{
      list-style: none; /* Remove list bullets */
      padding: 0;
      padding-top: 3%;
      margin: 0;
    }
    .list a:hover{text-decoration: none;}
    .list b{
      font-size: 140%;
      letter-spacing: -1px;
      color: #687b99;
      list-style: none;
    }
    .list ul{
    	font-size: 1.05em;
    }