#center{padding: 4%;}

.entry{
  font-family:'Montserrat';
  color: black;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

hr{margin-top: 0; border: 0.5px solid #61B9F4;}

.entry h2{
  text-align: center;
  font-family: "Cinzel";
  font-style: 500;
}

.noticia p::first-letter{
    font-family: "Cinzel";
    font-size: 2.05em;
    color: #8A2BE2;
    float:left;
}

h4{
  font-family: "Cinzel Decorative";
  font-style: thin;
  text-align: center;
}

.notiimg{padding: 3.2%;}

.notiimg img{height: 100%; width: 100%;}

table{
  font-family: "Open Sans";
  color: black;
	margin-right: auto;
	margin-left: auto;
	width: 65%;
}

td{padding: 2%;}

.tright{text-align: right;}
.social-media a{color: black;}